.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.foot{
  width: 1150px;
  height: auto;
  /* border: 3px solid red; */
  background-color: rgb(8, 8, 150);
  color: white;
  
  gap:100px;
  /* margin-left: 50px; */
  margin: auto;
}
.footers{
  display: flex;
  grid-template-rows: repeat(4,150px);
  margin-left: 14%;
  gap:100px
  

}
.dis{
  width: 100%;
  background-color:rgb(28, 28, 133);
  color:white;
  margin: auto;
 
}

