

.product{
    width: 18%;
    height: 370px;
    /* border:  2px solid red; */
    gap:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 40px;
}
.product:hover{
    cursor: pointer;
}
url{
    height: 40%;
}
